body{
background-image: url(img/IMG_9389.JPG);
color: #ffffff;
background-color: cornflowerblue;
text-shadow: 25cap black;


}

#header{
background-color: #70a8e1;
font-family: sans-serif;
font-weight: 100;


}

#volume4{

    color: #ffffff;
font-family: sans-serif;
font-weight: 100;
color: rgb(255, 255, 255);

}
 #volume4:hover{

    text-decoration: wavy;
    letter-spacing: 2px;
    font-size: x-large;
    color: #b10121;
}

a:link{

color: #ffffff;
text-decoration: underline;



}

#num1{



     font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  width: 30%;
   text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

#num2{


     font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  width: 30%;
   text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

#num3{


     font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  width: 30%;
   text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}


#num4{

 font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  width: 30%;
   text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

}

#song{

 font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
   text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

}

#chart{


}
